.header {
    padding: 20px 0;
    background-color: $header-bg;
    height: 387px;

    .nav {
        width: 100%;
        @include flexy(column, space-between, flex-start);
        //padding-bottom: 15px;

        &__link {
            @include fonty(0.875rem, 600, 1.35rem);

            /* for PC
                &-active {
                    border: 3px solid #825890;
                    border-radius: 50px;
                    padding: 5px 16px;
                    position: relative;
        
                    &::after {
                        //content: url("/src/images/header/drops.png");
                        //content: url("../../images/header/drops.png");
                        content: "";
                        position: absolute;
                        top: 100%;
                        left: 63%;
        
                        width: 38px;
                        height: 80px;
                        //background-image: url("../../images/header/drops.png");
                        background-image: url("/src/images/header/drops.png");
                        background-size: 38px 80px;
                    }
                }
                */
        }
    }

    @import '../blocks/contact-badge';
    @import '../blocks/socials';

}