.h2 {
    font-family: 'Constantine';
    @include fonty(2.18rem, 400, 2.6rem);
    color: $h2-color;
    text-align: center;
    position: relative;

    &::before {
        content: '';
        width: 33%;
        height: 1px;
        background-color: $titleLineColor;
        position: absolute;
        top: 50%;
        right: 0;
    }

    &::after {
        content: '';
        width: 33%;
        height: 1px;
        background-color: $titleLineColor;
        position: absolute;
        top: 50%;
        left: 0;
    }
}

// mixin that will calculate font-size shall be implemented!