@font-face {
    font-family: 'Constantine';
    font-weight: 400;
    src: local('Constantine'),
        url('/src/font/Constantine.woff') format('woff'),
        url('/src/font/Constantine.woff2') format('woff2');
    //url('/src/font/Constantine.woff2') format('woff2'),
    //url('/src/font/Constantine.woff') format('woff');
}

@font-face {
    font-family: 'Manrope';
    font-weight: 400;
    src: local('Manrope-Regular'),
        url('/src/font/Manrope-Regular.woff2') format('woff2'),
        url('/src/font/Manrope-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Manrope';
    font-weight: 500;
    src: local('Manrope-Medium'),
        url('/src/font/Manrope-Medium.woff2') format('woff2'),
        url('/src/font/Manrope-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Manrope';
    font-weight: 600;
    src: local('Manrope-Medium'),
        url('/src/font/Manrope-SemiBold.woff2') format('woff2'),
        url('/src/font/Manrope-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Manrope';
    font-weight: 700;
    src: local('Manrope-Medium'),
        url('/src/font/Manrope-Bold.woff2') format('woff2'),
        url('/src/font/Manrope-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Intro';
    font-weight: 900;
    src: local('Manrope-Medium'),
        url('/src/font/Intro.woff2') format('woff2'),
        url('/src/font/Intro.woff') format('woff');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Manrope';
    font-size: 14px;
    font-weight: 400;
    color: $fontColor;
    background-color: $bgColor;
}

main {
    padding-top: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

a {
    text-decoration: none;
    @include fonty(0.875rem, 400, 0.875rem);
    color: $fontColor;
}

.stop-scroll {
    overflow: hidden;
}

picture {
    display: inline-block;
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}