@font-face {
    font-family: 'Constantine';
    font-weight: 400;
    src: local('Constantine'),
        url('/s/font/Constantine.woff2') format('woff2'),
        url('/src/font/Constantine.woff') format('woff');
}

@font-face {
    font-family: 'Manrope';
    font-weight: 400;
    src: local('Manrope-Regular'),
        url('/src/font/Manrope-Regular.woff2') format('woff2'),
        url('/src/font/Manrope-Regular.woff') format('woff');
}


@font-face {
    font-family: 'Manrope';
    font-weight: 500;
    src: local('Manrope-Medium'),
        url('/src/font/Manrope-Medium.woff2') format('woff2'),
        url('/src/font/Manrope-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Manrope';
    font-weight: 600;
    src: local('Manrope-Medium'),
        url('/src/font/Manrope-SemiBold.woff2') format('woff2'),
        url('/src/font/Manrope-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Manrope';
    font-weight: 700;
    src: local('Manrope-Medium'),
        url('/src/font/Manrope-Bold.woff2') format('woff2'),
        url('/src/font/Manrope-Bold.woff') format('woff');
}

html {
    //чтобы убрать прыгающий скролл
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}


body {
    font-family: Manrope;
    font-size: 14px;
    font-weight: 400;
    color: $font-color;
    background-color: $bg-color;
}

a {
    text-decoration: none;
    @include fonty(0.875rem, 400, 0.875rem);
    color: $font-color;
}

.stop-scroll {
    overflow: hidden;
}

.container {
    //mobile version according to task is 262px..264px
    @include centry(81.875%);
}

section,
footer {
    height: 720px;
    border: $myBorder;
}