//colors
$bg-color: rgba(243, 243, 243, 1.0);

$header-bg: rgba(130, 88, 144, 0.25);

//checkInBtn color is about:
$check-in-color: rgba(166, 113, 244, 1.0);

$h2-color: rgba(0, 0, 0, 1.0);

$title-line-color: #825890;

//all the text on the page was made in this color:
$font-color: rgba(34, 8, 43, 1.0);

//the color of dies in memo, about sections and contactsBadge
//$die-color: rgba(218, 185, 235, 0.5);
$die-color: #DAB9EB;

$footer-bg: rgba(233, 204, 249, 0.5);


//in purpose of webDev:

$myBorder: 2px solid red;