//colors
$bgColor: rgba(243, 243, 243, 1.0);


$headerBgColor: rgba(214, 205, 217, 1.0);
$headerBorder: rgba(130, 88, 144, 1.0);
$headerShadow: 0px 4px 4px 0px rgba(130, 88, 144, 0.25);

$stopScrollColor: rgba(226, 226, 226, 0.7);

//checkInLink color is about:
$check-in-color: rgba(166, 113, 244, 1.0);

$h2-color: rgba(0, 0, 0, 1.0);

$titleLineColor: #825890;

//all the text on the page was made in this color:
$fontColor: rgba(34, 8, 43, 1.0);

//the color of dies in memo, about sections and contactsBadge
//$die-color: rgba(218, 185, 235, 0.5);
$dieColor: rgba(218, 185, 235, 0.5);
$dieUpSize: calc(53px + 31 * ((100vw - 320px) / 1920));

$footer-bg: rgba(233, 204, 249, 0.5);


//in the purpose of webDev:
$myBorder: 2px solid red;